{:deps {org.clojure/clojure    {:mvn/version "1.11.1"}
        org.clojure/core.typed    {:mvn/version "0.6.0"}}
 :repositories {"sonatype-oss-public" "https://oss.sonatype.org/content/groups/public/"}
 :paths ["src"]
 :main-opts ["-m" "project.core"]}
